@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: clip;
}




.btn-gradient-1 {
  border-image: linear-gradient(to right, #f9d326, #f9d326) 1;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Define the animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes insideOutAnimation {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes popOut {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  100% {
    transform: translateX(-100px) rotate(-90deg);
  }
}
@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
.continuously-animation {
  animation: moveUpDown 2s infinite alternate;
}
.productLogo:hover {
  animation: popOut 1s ease-in-out forwards;
}
.text-animation {
  animation: insideOutAnimation 2s ease-in-out both;
  animation-timeline: view();
  animation-range: entry 50% cover 50%;
}
.scroll-animation {
  animation: fadeIn 3s ease-in-out both;
  animation-timeline: view();
  animation-range: entry 50% cover 30%;
}
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* --------------------------------------------------------------------------- */

.HeroSection {
  /* width: 1440px;
height: 887px; */
  width: 100%;
  height: 100%;
}

.HeroSection::before {
  content: url("/backgroundHome.png");
  background: linear-gradient(180deg, rgba(14, 14, 14, 0) 0%, #0e0e0e 100%);
  opacity: 0.5;
  z-index: -1;
  position: relative;
  background-size: cover;
  background-position: center;
}

.NavBar {
  position: fixed;
  height: 88px;
  width: 1380px;
  top: 5%;
  left: 4.5%;
  /* padding: 16px, 32px, 16px, 32px; */
  border-radius: 16px;
  border: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgba(92, 79, 5, 0.44);
  background-color: white;
  border: 1px solid;

  border-image-source: linear-gradient(
    90.29deg,
    rgba(255, 255, 255, 0.31) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background: rgba(92, 79, 5, 0.44);

  box-shadow: 0px 2px 19.5px 0px rgba(219, 184, 0, 0.2);

  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  z-index: 100000;
}

.navLogo {
  width: 164.8px;
  height: 56px;
  gap: 8.51px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  /* margin-top: 16px; */
  margin-left: 32px;
}

.Logo {
  width: 56px;
  height: 62px;
}

.LogoName {
  margin-top: 12px;
  width: 101px;
  height: 56px;
  gap: 7.2px;
}

.LogoFirst {
  width: 97px;
  height: 12px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.LogoFirst > span {
  width: 97px;
  height: 12px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.16em;
  text-align: left;
  color: rgba(255, 198, 3, 1);
}

.LogoName > span {
  width: 101px;
  height: 6px;
  font-family: Inter;
  font-size: 9px;
  font-weight: 700;
  line-height: 11px;
  letter-spacing: 1.17em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.navbarText {
  width: 792.8px;
  height: 56px;
  gap: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.navbarText > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  /* flex-flow: row wrap; */
}

.navbarText ul li {
  padding: 15px, 24.2px, 16.5px, 24px;
  border-radius: 16px;
  gap: 10.55px;
  cursor: pointer;
}

.navbarText-about {
  width: 101.2px;
}

.navbarText-product {
  width: 162.2px;
}

.navbarText-token {
  width: 156.2px;
}

.navbarText-roadmap {
  width: 130.2px;
}

.cntwlt {
  width: 187px;
  height: 55px;
  left: 605.8px;
  border-radius: 10px;
  background: rgba(249, 211, 38, 1);
  color: rgba(0, 0, 0, 1);
  font-size: 16px;
}

.titleBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  text-align: center;
}

.titleText span {
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  font-style: normal;
  line-height: 120px;
  /* font-size: 85px; */
  font-size: 85px;
  align-items: start;
  width: max-content;
}
.titleText {
  display: flex;
  flex-direction: column;
  text-align: left;
  z-index: -1;
}

img.house {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: houseImage;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.76))
    drop-shadow(-10px -10px 15px rgba(0, 0, 0, 0.76));
}

.defi {
  z-index: 100;
  position: relative;
  animation-name: title02;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.bitcoin {
  color: rgba(254, 204, 0, 1);
  position: relative;
  animation-name: title02;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  z-index: -1;
}

.gateway {
  /* left: 50%; */
  position: relative;
  animation-name: title01;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  z-index: -1;
}

.to {
  left: 50%;
  position: relative;
  animation-name: title01;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

/* Animation Part */

@keyframes title01 {
  0% {
    left: -50%;
  }
  95% {
    left: 10%;
  }
  100% {
    left: 0%;
  }
}

@keyframes title02 {
  0% {
    left: 50%;
  }
  95% {
    left: -10%;
  }
  100% {
    left: 0%;
  }
}

@keyframes houseImage {
  0% {
    top: 100%;
  }
  95% {
    top: 40%;
  }
  100% {
    top: 50%;
  }
}

.overflowHidden{
  overflow: hidden;
}

/* Responsiveness */

@media only screen and (max-width: 768px) {
  .navbarText {
    /* display: none; */
  }

  .NavBar {
    flex-direction: column;
    /* height: 30vh; */
    width: 91%;
  }
  .navbarText {
    width: 100%;
    height: 75px;
    gap: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    border: 2px solid burlywood;
    backdrop-filter: blur(8px);
}


.navbarText ul li{
  display: flex;
  justify-content: center;
  /* width: 110px; */
}
.navbarText-about {
  width: 60.2px;
}

.navbarText-product {
  width: 115px;
}

.navbarText-token {
  width: 110.2px;
}

.navbarText-roadmap {
  width: 90.2px;
}

.cntwlt{
  margin-top: 0;
  width: 170px;
}

.titleText span {
  font-size: 30px;
}
.house {
  width: 80%;
  margin-left: 33px;
}
.titleBox {
  margin-top: 70px;
}


.productCards{
  display: flex;
  align-items: center;
  justify-content: center;
}


.heading{
  font-size: 2.5rem;
}
.navLogo {
  width: 179.8px;
  height: 59px;
  gap: 8.51px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  /* margin-top: 16px; */
  /* margin-left: 32px; */
}

.LogoName {
  margin-top: 12px;
  width: 106px;
  height: 56px;
  gap: 7.2px;
}

.para{
  width: 9rem;
}

.lazySquare{
    scale: 0.5;
    margin: 0 0 0 -43px;
}

.pageButton{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.socialBox{
  width: 46%;
}

.widthAuto{
  width: auto;
}

}


@media only screen and (max-width: 425px) {
  .cntwlt{
    font-size: 12px;
  }
  .navbarText {
    
    width: 100%;
    /* height: 66px; */
    gap: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    border: 2px solid burlywood;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    display: none;
}
}
